@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

#header-container {
  height: 200px;
  background-color: #111111;
}

.header {
  color: white;
  display: flex;
  height: 200px;
  justify-content: space-between;
  align-items: center;
  font-family: 'Readex Pro', sans-serif;
}

.header h1 {
  padding: 0 40px;
  font-size: 46px;
}

.header strong {
  color: #FDAD36;
}

.admin-aside {
  display: flex;
  padding-right: 40px;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.admin-aside img {
  height: 40px;
  border-radius: 50%;
}
